# local package
-e .

# base
click
python-dotenv>=0.5.1

# data
numpy
pandas
scipy
scikit-learn
openpyxl
pyarrow

# visualization / notebooks
matplotlib
seaborn
jupyter
ipykernel
plotly
tabulate

# modeling
imbalanced-learn
xgboost
joblib

# optional data download
kagglehub

# experiment tracking / forecasting
mlflow
dagshub
prophet

# dev
flake8
coverage
Sphinx